@charset "UTF-8";


.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}
.nav-link {
    font-weight: 500;
    color: #333;
    transition: color 0.2s ease-in-out;
}
.nav-link:hover {
    color: #0d6efd !important; /* Bootstrap blue */
}


