@charset "UTF-8";


.navbar {
	margin-top: -10px;
}
.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}
.nav-link {
    font-weight: 500;
    color: #333;
    transition: color 0.2s ease-in-out;
}
.nav-link:hover {
    color: #0d6efd !important;
}

.modal-backdrop.show {
    backdrop-filter: blur(6px); 
    background-color: rgb(60, 60, 60)
}
